body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    background-image: url(img/background.png);
    padding: 0px 50px;
}

.headmain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px 20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.topb {
    display: flex;
    list-style: none;
    gap: 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 66px;
    padding: 20px;
}

.insidebox {
    width: 90%;
    max-width: 730px;
    padding: 10px 16px;
    background-color: rgba(10, 10, 30, 0.74);
    border: 2px solid slateblue;
    border-radius: 15px;
}

.univlink {
    font-size: 22px;
    color: #a6ace7;
}

ul {
    height: auto;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li a {
    position: static;
    color: white;
    left: auto;
    display: block;
}

li a:hover:not(.aktif) {
    color: #b8bef7;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: #a6ace7;
}

.btnbox {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    gap: 8px;
    padding: 10px 20px;
}

.icon {
    border: 2px solid slateblue;
    border-radius: 15px;
    color: white;
    min-width: 40px;
    height: 40px;
    background-color: rgba(10, 10, 30, 0.74);
}

.icon:hover {
    background-color: slateblue;
    transition: 0.4s;
    color: black;
}

.icon span {
    position: relative;
    transition: 0.7s;
    opacity: 0;
}

.icon span:after {
    position: absolute;
    content: "\00bb";
}

.icon:hover span {
    opacity: 1;
    padding: 0 10px;
}
